.InputLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  gap: 1.2rem;
}

.InputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;
  width: 100%;
}

.eyecon {
  position: absolute;
  bottom: 30%;
  right: 5%;
}

.errorText {
  position: absolute;
  bottom: -2.2rem;
  font-size: 1.4rem;
  color: var(--red);
}
