.SignPage {
  width: 100%;
  height: 100vh;
  background-color: var(--light-blue);
}

.FormWrapper {
  margin: auto;
  padding: 3.2rem;
  padding-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.SigninHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.SignMsg {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.SignMsg a {
  color: var(--primary);
}

.InputForm {
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
  height: 100%;
  max-width: 40rem;
  width: 100%;
  gap: 3.2rem;
}

.inputStyles {
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray20);
  padding: 1.8rem 1.5rem;
  background-color: white;
  font-size: 1.6rem;
  width: 100%;
}

.inputStyles:focus {
  border: 0.1rem solid var(--primary);
}
.inputStyles.inputError {
  border: 0.1rem solid var(--red);
}

.Home {
  width: 12rem;
  padding: 1rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
}
